<launch>
  
  <!-- these are the arguments you can pass this launch file -->
  <arg name="paused"        default="true"/>
  <arg name="use_sim_time"  default="true"/>
  <arg name="motion_name" default="test_push"/>

  <rosparam file="$(find ballbot_pybullet_sim)/motions/$(arg motion_name).yaml" command="load"/>

  <!-- set use_sim_time flag -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Main pybullet sim node-->
  <node name="ballbot_pybullet_sim" pkg="ballbot_pybullet_sim" type="sim_corner_world.py" respawn="false" output="screen"/>

  
</launch>