<launch>

  <arg name="model" default="$(find ballbot_pybullet_sim)/urdf/wheelchair/wheelchair.urdf"/>


  <arg name="use_gui" default="true" />
  <arg name="rvizconfig" default="$(find ballbot_arm_description)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg use_gui)"/>

  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>